*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 1050px;
    margin: 0px auto;

}
#header{
    background-color: purple;
    padding: 22px;
}

.block{
    display: inline-block;
    width: 70%;
    padding: 15px;
    border: 1px solid gray;
    margin: 25px 0px;

}
input{
    display: block;
    width: 100%;
    padding: 7px;
    margin: 12px 0px;
}
#right{
    width: 25%;
    float: right;
    padding: 25px 15px;
    margin: 25px 0px;
    border: 1px solid gray;
}
#right button{
    width: 100%;
    margin: 8px 0px;
    padding: 8px;
}