body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('Images/man-gym_1920.jpg');
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0px;

}

.left img {
    width: 136px;
    filter: invert(100%);
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}





.mid {
    /* border: 2px solid green; */
    display: block;
    width: 50%;
    margin: 20px auto;
    /* padding: 0px; */
}


.right {
    border: 2px solid;
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;


}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;

}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.container {
    text-align: center;
}


.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}

footer {
    background-color: #e36414;
    height: 50px;
    color: white;
    text-align: center;
}